.after-cart {
    display: flex;
    position: relative;
    align-items: center;
    /* top: 50px; */
    margin: 10px 0;
    transition: all 0.3s ease-in-out;
}

.cart-count {
    margin: 0 30px;
    color: whitesmoke;
}

.cart-counter-button {
    color: whitesmoke;
    background-color: rgb(255,57,143);
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 4.5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/* beforecart */

.add-cart-button{
    color: whitesmoke;
    background-color: rgb(255,57,143);
    margin: 10px 0px;
    padding: 10px 15px;
    position:relative;
    /* top: 50px; */
    border: none;
    border-radius: 4.5px;
    cursor: pointer;
    transition: all 0.3 ease-in-out;
}

.prodct-cotainer.active .add-cart-button,
.prodct-cotainer:hover .add-cart-button,
.prodct-cotainer.active .after-cart,
.prodct-cotainer:hover .after-cart {
    top: -30px;
}